<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    
    <title>EJS | Home </title> 
</head>
<body>
    <div class="container">
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark ml">
            <a
                href="/"
                class="navbar-brand mb-0 h1 p-2 ">
                EJS

            </a>

            <button type="button" 
            data-bs-toggle="collapse"
            data-bs-target="navbarNav"
            class="navbar-toggler" 
            aria-controls="navbarNav" 
            aria-expended="false"
            aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav w-25">
                    
                    <div class="dropdown">
                        <button class="btn btn-dark dropdown-toggle"
                        type="button" id="dropdownMenuButton"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">
                          Periféricos
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a href="mouses" class="dropdown-item">Mouses</a>
                                <a href="teclados" class="dropdown-item">Teclados</a>
                                <a href="monitores" class="dropdown-item">Monitores</a>
                                <a href="gabinetes" class="dropdown-item">Gabinetes</a>
                                <a href="mousepads" class="dropdown-item">Mousepads</a>
                                <a href="headsets" class="dropdown-item">Headsets</a>
                                <a href="webcams" class="dropdown-item">webcams</a>
                        </div>
                      </div>

                    <li class="nav-item active">
                        <a href="#" class="nav-link">

                            Contato
                            
                        </a>
                    </li>

                    <li class="nav-item active">
                        <a href="#" class="nav-link">
                            Rastreio
                        </a>
                    </li>
                </ul>

                <div class="container d-flex justify-content-end">
                    <form class="d-flex w-75">
                        <input type="text" class="form-control w-100">                   
                    </form>
                    <button type="submit" class="btn btn-dark"> 
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                          </svg> 
                    </button>
                </div>
                
                    <div class="container d-flex justify-content-end w-25">
                        <a href="/carrinho" class="btn btn-light "> 
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                            </svg>
                            Carrinho
                        </a> 
                    </div>
    
                    <div class="container d-flex justify-content-start w-25"> 
                        <a href="/cadastro" class="btn btn-dark text-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                                <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                            </svg>
                            Cadastro/Login
                        </a>
                   
                    </div> 
                
                </div>
        </nav>
    </div>

<div>

    <br> <br> <br>
    
</div>
<main>

<div id="carouselBasicExample" class="carousel slide carousel-fade" data-mdb-ride="carousel">
    
    
  
   
    <div class="carousel-inner">
      
      <div class="carousel-item active">
        <a href="/monitores"> <img src="https://images.tcdn.com.br/img/editor/up/679622/1543338714_mini_banner_monitor2.jpg" class="d-block w-100" alt="Sunset Over the City"/> </a>
        <div class="carousel-caption d-none d-md-block">
          <h5>First slide label</h5>
          <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </div>
      </div>
  
      
      <div class="carousel-item">
       <a href="/mouses"> <img src="https://images.tcdn.com.br/img/editor/up/477758/BANNER_FORTREK.png" class="d-block w-100" alt="Canyon at Nigh"/></a> 
        <div class="carousel-caption d-none d-md-block">
          <h5>Second slide label</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
  
      
      <div class="carousel-item">
       <a href="/teclados"> <img src="https://cdn.awsli.com.br/1000x5000/584/584136/arquivos/Banner%201.jpg" class="d-block w-100" alt="Cliff Above a Stormy Sea"/></a> 
        <div class="carousel-caption d-none d-md-block">
          <h5>Third slide label</h5>
          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>
      </div>
    </div>
    
    <a href="#carouselBasicExample" class="carousel-control-next" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
    <a href="#carouselBasicExample" class="carousel-control-prev" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    
  </div>
 

                      <!--            PRODUTOS HOME                -->


    <div class="produtos-home">

      <img src="img-home/mousepad.jpg" width="220px" height="270px" alt="mouse pad rgb">
      <div class="nome" title="Mousepad rgb">Mousepad RGB USB</div>
      <button class="botao-comprar">Comprar</button>

      <div class="preco">

          <span>R$ 120,00 </span>

      </div>
    </div>

    <div class="produtos-home">

      <img src="img-home/gabinete.jpg" width="220px" height="270px" alt="gabinete gamer">
      <div class="nome" title="Gabinete Gameriluminação frontal led RGB">Gabinete Gamer frontal LED RGB</div>
      <button class="botao-comprar">Comprar</button>

      <div class="preco">

          <span>R$ 320,00 </span>

      </div>
    </div>

    <div class="produtos-home">

      <img src="img-home/mouselogi.jpg" width="220px" height="270px" alt="mouse logitech">
      <div class="nome" title="Mouse logitech 1600dpi">Mouse logitech 1600 DPI</div>
      <button class="botao-comprar">Comprar</button>

      <div class="preco">

          <span>R$ 261,00 </span>

      </div>
    </div>

    <div class="produtos-home">

      <img src="img-home/gabimax.jpg" width="220px" height="270px" alt="Gabinete GAMEMAX RGB">
      <div class="nome" title="Gabinete GAMEMAX RGB">Gabinete GAMEMAX RGB</div>
      <button class="botao-comprar">Comprar</button>

      <div class="preco">

          <span>R$ 750,90</span>

      </div>
    </div>

    <div class="produtos-home">

      <img src="https://www.gibsonnet.com.br/Produtos/teclado-mecanico-gamer-redragon-dark-aryaman-rgb-k569rgb-5.jpg" width="220px" height="270px" alt="Teclado Mecânico Redragon">
      <div class="nome" title="Teclado Mecânico Gamer Redragon">Teclado Mecânico Redragon</div>
      <button class="botao-comprar">Comprar</button>

      <div class="preco">

          <span>R$ 400,00</span>

      </div>
    </div>

    <div class="produtos-home">

      <img src="https://th.bing.com/th/id/OIP.-Fx3-Wx3FXZcODTOHZf1EgHaHa?pid=ImgDet&rs=1" width="220px" height="270px" alt="Gamer Headset LED Blue">
      <div class="nome" title="Gamer Headset LED Blue">Gamer Headset LED Blue</div>
      <button class="botao-comprar">Comprar</button>

      <div class="preco">

          <span>R$ 110,00</span>

      </div>
    </div>
    
    <div class="produtos-home">

      <img src="https://i.expansys.net/i/b/b324848-1.jpg" width="220px" height="270px" alt="Logitech WebCam C310 (Black)">
      <div class="nome" title="Logitech WebCam C310 (Black)">Logitech WebCam C310 (Black)</div>
      <button class="botao-comprar">Comprar</button>

      <div class="preco">

          <span>R$ 170,00</span>

      </div>
    </div>

    <div class="produtos-home">

      <img src="https://tekgenius.pt/wp-content/uploads/2019/12/CU34G2_FTL_screen.jpg" width="220px" height="270px" alt="Monitor curvo AOC ultra-wide">
      <div class="nome" title="Monitor curvo AOC ultra-wide">Monitor curvo AOC ultra-wide</div>
      <button class="botao-comprar">Comprar</button>

      <div class="preco">

          <span>R$ 749,90</span>

      </div>
    </div>

    <div class="produtos-home">

      <img src="https://th.bing.com/th/id/OIP.CQcQSAvEZhlHGiFgQFp_IwHaHa?w=218&h=219&c=7&r=0&o=5&pid=1.7" width="220px" height="270px" alt="Mouse Gamer Redragon Lonewolf 2">
      <div class="nome" title="Mouse Gamer Redragon Lonewolf 2">Mouse Gamer Lonewolf 2</div>
      <button class="botao-comprar">Comprar</button>

      <div class="preco">

          <span>R$ 290,00</span>

      </div>
    </div>

    <div class="produtos-home">

      <img src="https://mkplace-img.imgix.net/storage/png/683a67e12dafa2474039855edb5cdf0ccb858c9694bc3556334d3cce64fe9de8.png?fit=fill&w=600&h=600&fill=solid" width="220px" height="270px" alt="Mouse Pad Razer Sphex V2 Mini">
      <div class="nome" title="Mouse Pad Razer Sphex V2 Mini">Mouse Pad Razer Sphex V2 Mini</div>
      <button class="botao-comprar">Comprar</button>

      <div class="preco">

          <span>R$ 550,00</span>

      </div>
    </div>







  <!-- Footer -->
<footer class="text-center text-lg-start bg-dark text-muted">
  <!-- Section: Social media -->
  <section
    class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
  >
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>fale conosco em nossas redes sociais:</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="https://github.com/Silviojrr/projeto2" class="me-4 text-reset">
        <i class="fab fa-github"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i> EJS 
          </h6>
          <p>
            Nós somos uma empresa especializada em venda de periféricos de marcas consagradas tanto na parte de games quanto na parte de office, além disso contamos com uma taxa de valor do frete abaixo da concorrencia

          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Métodos de pagamento
          </h6>
          <p>
            <i class="fa-brands fa-cc-visa"></i>
            <i class="fa-brands fa-cc-mastercard"></i>
            <i class="fa-brands fa-pix"></i>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Links úteis 
          </h6>
          <p>
            <a href="/carrinho" class="text-reset">Carrinho</a>
          </p>
          <p>
            <a href="/cadastro" class="text-reset">Cadastro/Login</a>
          </p>
        
          <p>
            <a href="#!" class="text-reset">Preciso de ajuda</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Contact
          </h6>
          <p><i class="fas fa-home me-3"></i>Rua Comendador José Didier 27, Jaboatão dos Guararapes, PE.</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            atendimento@ejs.com.br
          </p>
          <p><i class="fas fa-phone me-3"></i> (081) 3527-2781</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2022 Copyright:
    <a class="text-reset fw-bold" href="home.ejs">EJS.COM</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
</main>
    <script src="https://kit.fontawesome.com/eadab411b3.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>