*{
    padding: 0;
    border: 0;
}


.produtos-mouses{
    display: inline-block;
    padding: 1.5%;
    
    border-color: black;
    
}

.botao-comprar{
    background-color: gray;
    border-radius: 5px;
 }